
Flappy Bird Lesson 1/Library/*
Flappy Bird Lesson 1/Logs/*
Flappy Bird Lesson 1/ProjectSettings/*
Flappy Bird Lesson 1/Packages/*
Flappy Bird Lesson 1/*.csproj
Flappy Bird Lesson 2/Library/*
Flappy Bird Lesson 2/Logs/*
Flappy Bird Lesson 2/ProjectSettings/*
Flappy Bird Lesson 2/Packages/*
Flappy Bird Lesson 2/*.csproj
*.meta